*{
  margin: 0px;
  padding: 0px;
}
body{
  background: white;
  padding: 5px;
  padding-left: 10px;
}


.mainDivision{
  overflow: hidden;
}

.officeCopy, .grahokCopy{
  width: 400px;
  float: left;
}

body  h2{
  color: Tomato;
 
  font-size: 14px;
  width: 400px;
}

body h3,h4,h5{
    color: Tomato;
    font-size: 12px;
     padding: 3px 1px;
}
h5{
  color: Tomato;
  font-size: 10px;
   padding: 2px 1px;
}

table{
  border-collapse: collapse;
  margin: 10px 0px 0px 20px;
}

thead th{
  padding: 5px ;
font-size: 11px;
}

.kromik {

    text-align: center;
}

td input{
  text-align: center;
  padding: 1px;
border: 0;
width: 100px;
font-size: 11px;
}

tbody td{
  text-align: center;
  font-size: 11px;
  padding: 1px;
}

.dukand{
  width: 160px;
  float: left;
}



.dukand h4{
  float: left;
}

.dukand input{
  padding: 5px 0px;
   border: 0;
   width: 113px;
   border-bottom: 1px dotted tomato;
}



.dukanContact{
  display: block;
  overflow: hidden;
}




#addressId{
 margin: 5px 30px 5px 17px;
}


.tablefix{
  display: block;
  margin: 2px;
}

.tablefix tbody td:nth-child(4) input{
width: 70px;
}
.tablefix tbody td:nth-child(3) input{
width: 70px;
}
.tablefix tbody td:nth-child(5){
width: 60px !important;
}

.footerDtls{
  width: 350px;
  text-align: center;
  font-size: 13px;
  margin: 5px;
  color: #6a8ae4;
}

.footerDtls b{
  color: red;
  border: 1px solid #333;
  padding: 5px 10px;
  margin-top: 3px !important;
}



#refreshVsi {
   float: right;
   padding: 10px;
   color: #f7f4f4;
   margin: 5px;
   border-radius: 5px;
   border: 1px solid #f7f4f4;
   background: green;
   visibility: visible;
}

 #calculateId{
   float: right;
   padding: 10px;
   color: white;
   margin: 5px;
   border-color: white;
   border-radius: 5px;
   background: #0c33c1;
    visibility: visible;
}

.sakkor{

  width: 300px;

  margin-top: 50px;
  margin-left: 20px;


}

#kortipokko{
  font-size: 13px;
  color: #333;
  width: 120px;
    border-top: 1px dotted #333;
  margin-right: 0px !important;
  float: right;
}

#kreta{
  font-size: 13px;
  color: #333;
  width: 100px;
  margin-right: 50px;
    border-top: 1px dotted #333;
  margin-right: 0px !important;
  float: left;
}

#jomaTaka{
  width: 60px !important;
}

#jomaTakaOf{
  width: 60px !important;
}

.controlBtn{
  position: absolute;
  right: 0px;
}

.aponNAme{
  width:140px;
  float: left;
}

.identify{
  font-size: 10px;
}

.containIdentyfr{
  overflow: hidden;
}

.grahokCopy {
    border-right: 1px dotted #333;
}
